<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    {{$records := .}}
    <ul>

        {{range $records}}
           <li>{{.Date}} ------ {{.Open}}</li>
        {{end}}

    </ul>
</body>
</html>