<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <hr>

    Your session id: {{index . 0 }}

    <hr>

    <h1>Your pictures </h1>

    {{range slice . 1 }}
        <div style="display: inline;"><img src="/uploads/{{.}}" height="100px"></div>
    {{end}}


    <hr>

    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="file"/> <br>
        <input type="submit" value="submit"/>
    </form>



</body>

</html>